body{
  margin: 0px;
}

header{
  margin-bottom: 20px;
  background-color: rgb(244,79,79);
  text-align: center;
}
main{
  margin: 10px,0px;
}

footer{
  background-color: rgb(244,79,79);
  text-align: center;
}

h1{
  color: rgb(255,255,255);
  margin: 0px auto;
}

h2{
  font-size: 25px;
  border-bottom: dotted 3px rgb(239,111,139);
}

h2::before{
  content: "●";
  color: rgb(239, 111, 139);
}
p{
  margin: 0px;
  font-size: 20px;
}

p:nth-child(3)::first-letter{
  color: skyblue;
  font-weight: bold;
}

a{
  font-size: 20px;
}

#parent{
  text-align:  center;
}

.flexbox{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap:wrap;
  text-align: center;
}

.contents{
  text-align: center;
  flex-basis: 25%;
  margin: 20px 0px;
  padding: 15px 10px;
  border:solid 3px rgb(238, 204, 204)
}

.contents img{
  margin: 10px 0px;
  width: 70%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .flexbox{
    display: block;
    justify-content: center;
    justify-content: space-around;
    flex-wrap:wrap;
    text-align: center;
  }
  h2{
    font-size: 30px;
  }
  p{
    font-size: 25px;
  }
}

a:link{
  color: rgb(255,255,255);
}
a:visited{
  color: rgb(193,234,251);
}
a:hover{
  color: rgb(245,178,168);